* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height:100%;
}
body{
    background-color: #202020;
    font-family: "Josefin Sans", sans-serif;
    color:#f0f0f0;
    height: 100%;

    padding: 0;
    margin: 0;
}
header{
    height:100%;
    position: relative;
}
rect{
    fill:white;
}
.bg-img {
    background-image: url("media/new-york-city-336475_1920.jpg");
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position:absolute;
    top:10px;
    width: 100%;
    z-index: 1;
}
.flex-nav{
    display: flex;
    position: absolute;
    right:20px;
}
.nav-link{
    margin-right:20px;
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.logo-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:-15px;
    left:1%;
    text-align: left;
}
.logo-nav img{
    max-height:55px;
    width:60px;
}
.navbar-toggle, .navbar-toggle-close{
    display: none;
}
.bg-img-darker{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.75);
}
.main-front{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:40%;
    left:10%;
    max-width: 80%;
    text-align: center;
}
.name-main{
    font-size: 80px;
    font-family: cambria,Helvetica,open-sans, sans-serif;
    color:white;
}
.info-main{
    font-size:30px;
    font-family: cambria,Helvetica,open-sans, sans-serif;
    color:white;
}
@media screen and (max-width: 768px) {
    .name-main{
        font-size: 50px;
        font-family: cambria,Helvetica,open-sans, sans-serif;
        color:white;
    }
    .info-main{
        font-size:20px;
        font-family: cambria,Helvetica,open-sans, sans-serif;
        color:white;
    }
    .navbar-toggle{
        position: absolute;
        right:20px;
    }
    .flex-nav{
        display: none;
        position: absolute;
        top:35px;
        right:0;
        width: 30%;
        padding-bottom: 10px;
        background-color: #202020;

    }
    .nav-link{
        display: block;
        width:100%;
        text-align: center;
        margin-top:5px;

        text-decoration: none;
        color:white;
        font-size: 20px;
    }
    .navbar-toggle-close{
        position: absolute;
        right:20px;
    }
    .nav-active{
        display: block;
    }
    .vis-bar, .vis-close{
        display: block;
    }

}
